[submodule "plugins-extra"]
	path = plugins-extra
	url = https://github.com/kristibektashi/plugins-extra.git
	branch = 2.39
[submodule "sdk"]
	path = sdk
	url = https://github.com/kristibektashi/ProcessHacker-SDK.git
	branch = 2.39
